/.vscode
paut_eitan_game/Paul Eitan Spiel/.vscode/settings.json
paut_eitan_game/Paul Eitan Spiel/README.md
cpp/hello_orld.cpp
.gitignore
cpp/hello_orld.exe
zeitung/Zeitung/README.md
zeitung/Zeitung/.vscode/settings.json
workspace.code-workspace
